{%extends 'base.html' %}

{%load static from staticfiles %}

{% block titulo%}
    CAT@::Ações Prof
{%endblock%}
{% block corpo%}

{% include 'cabecalho.html' %}

    {%if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-10 col-md-10">
                Olá {{user.get_cargo_display}} {{user.last_name}}. Hoje é {% now "d-m-Y H:i"%}.
                <small>
                  ( <a href="{% url 'professor:indice' %}"> Índice </a> )
                </small>
                <hr>
            </div>
            </div>
        </div> <!-- /container 1-->

        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-10 col-md-10">
                <h3>Editar este arquivo.</h3><small>Para apagar este item e todos ligados a ele clique nos três pontinhos <a href={% url 'situacao:apagar' id %}  title='Se clicar aqui todos os itens ligados a este serão apagados.'> ...</a></small></br></br>
                <form action="{% url 'situacao:anexoeditar' id %}" method="POST" enctype="multipart/form-data">{%csrf_token%}
                  {% include 'formvictor.html' with form=form %}
                    <input type="submit" value="Enviar informações" />
                </form>
            </div>
            </div>
        </div> <!-- /container 2-->



        {%else%}
            </br></br>Acesso não permitido. Favor procurar o Professor desta turma.
        {%endif%}

    {%endblock%}
