{%extends 'base.html' %}

{%load static from staticfiles %}

{% block titulo%}
    CAT@::Ações Prof
{%endblock%}
{% block corpo%}

{% include 'cabecalho.html' %}

    {%if user.is_authenticated %}
        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-10 col-md-10">
                Olá {{user.get_cargo_display}} {{user.last_name}}. Hoje é {% now "d-m-Y H:i"%}.
                <small>
                    ( <a href="{% url 'professor:acoes' %}"> Ações do professor </a> )
                </small>
                <hr>
            </div>
            </div>
        </div> <!-- /container 1-->

        <div class="container-fluid">
            <div class="row">
            <div class="col-sm-10 col-md-10">
                Avaliacao: {{aplicado.algoritmo.avaliacao}}</br>
                Programa: {{aplicado.algoritmo.programa}}, PDF: <a href='/cata/media/{{aplicado.algoritmo.programa.pdf}}'  title='Clique para ver pdf deste programa'> [ver]</a></br>

                Testes:</br><hr>
                {% for teste in tabela_testes %}
                Teste id: {{teste.0}}</br>
                Status do teste: {{teste.4}}</br>
                Teste entrada: <pre>{{teste.1}}</pre>
                Teste saida: <pre>{{teste.2}}</pre>
                Sua saida aplicando o teste entrada: <pre>{{teste.3}}</pre>
                <hr>
                {% endfor %}
                <hr>
            </div>
            </div>
        </div> <!-- /container 2-->

        {%else%}
            </br></br>Acesso não permitido. Favor procurar o Professor desta turma.
        {%endif%}

    {%endblock%}
